/*
.container{
  width: 95%;
  margin-top: 5%;
}
*/
.botoes_questionario{
  background-color: #3B71B2;
  color: black;
    width: 150px;
    padding: 5px 20px;
    border-radius: 6px;
    font-size: 18px;
}

